.popup {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: inline-block;
    background-color: rgba($color-black, 0.9);
    min-width: 80rem;
    
    // hide the popup
    opacity: 0;
    visibility: hidden;
    // transition: opacity .3s;


    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        background-color: $color-white;
        width: 80%;
        @include centered;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
    }

    &__left {
        width: 33.3%;
        display: table-cell;
    }
    &__right {
        width: 66.6%;
        display: table-cell;
        padding: 3rem 2rem 3rem 2rem;
        vertical-align: middle;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.1rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark-2;
        
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 3rem;
            right: 3rem;
            text-decoration: none;
            font-size: 3rem;
            display: inline-block;
            transition: all .5s;

            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}


