// Оичстка свойства float
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
<600 - phone,
600-900 - tablet portrait
900-1200 - tablet landscape
1200-1800 - small desctop
1800+ - big desctop
*/

// breakpoint argument choisese: 
// -phone,
// -tab-port,
// -tab-landscape,
// -big-desktop

@mixin respond($breakpoint) {

    @if($breakpoint == phone) {
        @media (max-width: 38em) {@content}
    }

    @if($breakpoint == tab-port) {
        @media (max-width: 56.25em) {@content}
    }
        

    @if($breakpoint == tab-landscape) {
        @media (max-width: 75em) {@content}
    }


    @if($breakpoint == desktop) {
        @media (min-width: 112.5em) {@content}
    }
}